In [7]:
import pandas as pd


# GNS
d = [{'page_number': 4,
  'short_text_and_number': (1,2,3),
  'text_for_word2vec': (1,2,3),
  'table_values': (1,2,3)},
 {'page_number': 19,
  'short_text_and_number': (1,2,3),
  'text_for_word2vec': (1,2,3),
  'table_values': (1,2,3)},
 {'page_number': 45,
  'short_text_and_number': {'FY19 (restated) Tonnes of CO2e',
   'FY20 (restated) Tonnes of CO2e',
   'FY21 Tonnes of CO2e'},
  'text_for_word2vec': {'Primary intensity ratio – Scope 1 and 2   (tCO2e/tonne animal weight) Secondary intensity ratio – Scope 1, 2 and 3  (tCO2e/turnover)'},
  'table_values': {'167.9',
   '187.6',
   '2,626',
   '2,630',
   '2,756',
   '2,798',
   '72,314',
   '77,673',
   '79,009',
   '8.31',
   '8.33',
   '84,523'}}]



df = pd.DataFrame(data=d)
df

,page_number,short_text_and_number,text_for_word2vec,table_values
0,4,"(1, 2, 3)","(1, 2, 3)","(1, 2, 3)"
1,19,"(1, 2, 3)","(1, 2, 3)","(1, 2, 3)"
2,45,"{FY19 (restated) Tonnes of CO2e, FY21 Tonnes o...",{Primary intensity ratio – Scope 1 and 2 (tC...,"{2,798, 72,314, 77,673, 2,756, 8.31, 84,523, 1..."

In [ ]:
# Siemens

l = [{'page_number': 23,
  'short_text_and_number': {'292,000 t CO2 emissions   (Scope 1 and 2)'},
  'text_for_word2vec': set(),
  'table_values': set()},
 {'page_number': 27,
  'short_text_and_number': set(),
  'text_for_word2vec': {'Scope 1 and 2 emissions  1000 metric tons of CO2 equivalent'},
  'table_values': set()},
 {'page_number': 28,
  'short_text_and_number': set(),
  'text_for_word2vec': set(),
  'table_values': set()},
 {'page_number': 76,
  'short_text_and_number': set(),
  'text_for_word2vec': {' The  total scope 1 and 2 emissions amounted to  292,000 metric tons of CO2 equivalents',
  'In fiscal year 2020 we achieved to reduce our  scope 1 and 2 emissions by around one third or  148,000 metric tons of CO2 equivalents'},
  'table_values': set()}]

In [3]:
t = ['hhhh', '123', '1980', '2020']

for el in t:
 if len(el) == 4 and el.isdigit() and el.startswith('20'):
  print(el)

2020