In [1]:
import pandas as pd

marcel = pd.read_csv('Result_Marcel.txt')
marcel

   Scope1  Scope2  Scope3
0       1       2       3

In [2]:
lorenzo = pd.read_csv('Result_Lorenzo.txt')
lorenzo

   Scope1  Scope2  Scope3
0       4       5       6

In [3]:
marcel_lorenzo = pd.concat([marcel,lorenzo], sort=False)
marcel_lorenzo

   Scope1  Scope2  Scope3
0       1       2       3
0       4       5       6

In [4]:
marcel_lorenzo['mean'] = marcel_lorenzo.mean(axis=1)
marcel_lorenzo

   Scope1  Scope2  Scope3  mean
0       1       2       3   2.0
0       4       5       6   5.0

In [5]:
marcel_lorenzo.to_excel("marcel_lorenzo.xlsx")